<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478858507478-qkmn7f2rh96qvtf9k69v8sr6ntgglcrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478858507478-qkmn7f2rh96qvtf9k69v8sr6ntgglcrh</string>
	<key>API_KEY</key>
	<string>AIzaSyAtbSmh26fHVczDrz6FWUocN8kOYaLNAAk</string>
	<key>GCM_SENDER_ID</key>
	<string>478858507478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zshenkman.fleet</string>
	<key>PROJECT_ID</key>
	<string>fleet-9a660</string>
	<key>STORAGE_BUCKET</key>
	<string>fleet-9a660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478858507478:ios:a2d3497a69cc25da6cc577</string>
</dict>
</plist>